{%extends 'base.html'%}

{%block title%}
    My Pokemon
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="../static/styles/pokemon.css">
<link rel="stylesheet" href="../static/styles/teamcard.css">
{%endblock%}

{%block content%}
<div class="tophalf">
    <div class="mysearchform">
        <form class="poke-form" method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"><img class="form-label pokemontext" src="https://cdn.freebiesupply.com/images/large/2x/pokemon-logo-black-transparent.png" alt="pokemon"></label>
            {{ form.pokemon(class="myformcontrol form-control", id="exampleInputEmail1")}}
            <div id="emailHelp" class="form-text">(Name or number up to 1025)</div>
            </div>
            {{ form.submit_btn(class="btn mybtn")}}
            {{ form.catch_btn(class="btn mybtn")}}
        </form>
    </div>
    <div class="searchedcard">
        {%include 'includes/searchcard.html'%}
    </div>
</div>
<div class="bottomhalf">
    {%include 'includes/teamcard.html'%}
</div>
{%if current_user.is_anonymous%}
<div class="signinsign">
    <h5>To catch Pokemon <a href="{{url_for('auth.login')}}">Login</a> or <a href="{{url_for('auth.signup')}}">Sign Up</a></h5>
</div>
{%endif%}
{%endblock%}