* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', sans-serif;
}

.mynavbar {
    background: linear-gradient(to bottom right, rgb(91, 176, 255), RGB(42, 117, 187));
    padding: 2px;
}

.mylogo {
    background: transparent;
    padding: 0;
    height: 50px;
    margin: -10px -20px 0 40px;
}

.mynavitems {
    color: black!important;
    padding: 0;
    margin: 0 8px;
    font-size: 20px;
    text-align: center;
}

.myactive {
    background-color: rgb(255, 203, 5);
    color: rgb(60, 90, 166)!important;
    font-weight: bold;
    border-radius: 6px;
}

.mynavitems:hover, .mynavitems:active {
    background-color: rgb(255, 203, 5);
    color: rgb(42, 117, 187)!important;
    border-radius: 6px;
}

.pokefont {
    font-family: 'Pokemon Solid', sans-serif;
}