{%extends "base.html"%}

{%block title%}
    Home
{%endblock%}

{%block styles%}
    <link rel="stylesheet" href="../static/styles/home.css">
{%endblock%}

{%block nav%}
<li class="nav-item">
  <a class="nav-link mynavitems myactive" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link mynavitems" href="/pokemon">Play</a>
</li>
<li class="nav-item">
  <a class="nav-link mynavitems" href="/login">Login</a>
</li>
{%endblock%}

{%block content%}
  <img class=welcome src="https://fontmeme.com/permalink/240211/f73b2674185af29e3bc747e87bd23d31.png" alt="pokemon-font" border="0"></a>
{%endblock%}