{%extends "base.html"%}

{%block title%}
    Sign Up
{%endblock%}

{%block styles%}
    <link rel="stylesheet" href="../static/styles/signin.css">
{%endblock%}

{%block nav%}
<li class="nav-item">
  <a class="nav-link mynavitems" href="/">Home </a>
</li>
<li class="nav-item">
  <a class="nav-link mynavitems" href="/pokemon">Play</a>
</li>
<li class="nav-item">
  <a class="nav-link mynavitems" href="/login">Login</a>
</li>
{%endblock%}

{%block content%}
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
              <form method="POST">
                {{form.hidden_tag()}}
                <h2 class="fw-bold mb-2 text-uppercase pokefont">Sign Up</h2> 
                <div class="form-outline form-white mb-4">
                  {{ form.username(class="form-control form-control-lg", id="typeUsernameX")}}
                  <label class="form-label" for="typeUsernameX">Username</label>
                </div>

                <div class="form-outline form-white mb-4">
                  {{ form.email(class="form-control form-control-lg", id="typeEmailX")}}
                  <label class="form-label" for="typeEmailX">Email</label>
                </div>
  
                <div class="form-outline form-white mb-4">
                  {{ form.password(class="form-control form-control-lg", id="typePasswordX")}}                  
                  <label class="form-label" for="typePasswordX">Password</label>
                </div>
 
                {{ form.submit_btn(class="btn btn-outline-light btn-lg px-5", id="submitX")}}
              </form>
              </div>
  
              <div>
                <p class="mb-0">Already have an account? <a href="/login" class="text-white-50 fw-bold">Log in</a>
                </p>
              </div>
  
            </div>
            {%if username%}
              <h5>{{username}}</h5>
              <h5>{{email}}</h5>
              <h5>{{password}}</h5>
              <h5>{{submit_btn}}</h5>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
</section>
{%endblock%}